.calculator-container{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.calculator{
  border: 1px solid #999;
  border-radius: 8px;
  width: 200px;
  padding: 1rem;
  background: rgb(135, 206, 250, .3);
  box-shadow: 3px 3px 5px 6px #ccc;
}
.keyboard{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: .2rem;
}
.item1{
  grid-column-start: 1;
  grid-column-end: 3;
}
.item2{
  grid-column: 3 /span 2;
}
.keyboard button{
  height: 40px;
  border-radius: 4px;
  cursor: pointer;
  background: rgb(135, 206, 250, .1);
  font-weight: bold;
  font-size: 1rem;
}

.keyboard button:hover{
  background: lightgoldenrodyellow;
  transition: 500ms;
}

.result{
  border: 1px solid #999;
  padding: 1rem;
  margin-bottom: .3rem;
  border-radius: 4px;
  word-wrap: break-word;
  background: linear-gradient(to bottom, #fff, rgb(240, 255, 255.8));
  color:  #333;
   font-weight: bold;
}
.result-output{
  text-align: right;
  padding-right: .2rem ; 
}
